In [36]:
word = 'test'
if len(word)%2 == 0:
    print(word[len(word)//2-1] + word[len(word)//2])
else:
    print(word[len(word)//2])

es

In [24]:
word = 'testing'
if len(word)%2 == 0:
    print(word[len(word)//2-1]+word[len(word)//2])
else:
    print(word[len(word)//2])

t

In [45]:
sum = 0
number = int(input('Введите число: '))
while number!=0:
    sum += number
    number = int(input('Введите число: '))
print('Результат: ', sum)

Введите число: 1
Введите число: 2
Введите число: 3
Введите число: 4
Введите число: 5
Введите число: 0
Результат:  15

In [67]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) == len(girls):
    print('Идеальная пара:')
    boys.sort()
    girls.sort()
    dating = zip(boys, girls)
    for company in dating:
                print(f"{company[0]} и {company[1]}")
else:
    print('Внимание, кто-то может остаться без пары!')

Идеальная пара:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [69]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) == len(girls):
    print('Идеальная пара:')
    boys.sort()
    girls.sort()
    dating = zip(boys, girls)
    for company in dating:
                print(f"{company[0]} и {company[1]}")
else:
    print('Внимание, кто-то может остаться без пары!')

Внимание, кто-то может остаться без пары!

In [4]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

print('Средняя температура в странах:')

for i in countries_temperature:
    print(i[0], '-', round((sum(i[1]) / len(i[1]) - 32) / 1.8, 1), 'C')

Средняя температура в странах:
Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

In [6]:
stream = [
'2018-01-01, user1, 3',
'2018-01-07, user1, 4',
'2018-03-29, user1, 1',
'2018-04-04, user1, 13',
'2018-01-05, user2, 7',
'2018-06-14, user3, 4',
'2018-07-02, user3, 10',
'2018-03-21, user4, 19',
'2018-03-22, user4, 4',
'2018-04-22, user4, 8',
'2018-05-03, user4, 9',
'2018-05-11, user4, 11',
]

for i in stream:
    data, user, num = i.split(",")
    print(data, user, num)

2018-01-01  user1  3
2018-01-07  user1  4
2018-03-29  user1  1
2018-04-04  user1  13
2018-01-05  user2  7
2018-06-14  user3  4
2018-07-02  user3  10
2018-03-21  user4  19
2018-03-22  user4  4
2018-04-22  user4  8
2018-05-03  user4  9
2018-05-11  user4  11